<div class="container m-auto">
    <form autocomplete="off" >
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="mt-5 card">
                    <div class="card-body text-center">
                        <img src="/assets/img/logo.png" alt="Logo" width="400">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="emailInput" name="email" placeholder="name@example.com" formControlName="email"/>
                            <label for="emailInput">Employee Code</label>
                        </div>

                        <button type="submit" class="btn btn-success w-100 mt-1">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>